@model Library_Management_System_By_Nausif_AND_Mohsin.Models.Book_Acc_Code

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book_Acc_Code</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Edition.Book_ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Edition.Book_ISBN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book_Acc_Code1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
