
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>LMS BY HTML</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="~/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/assets/css/ie8.css" /><![endif]-->
</head>
<body class="landing">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="~/Home/Index">Library Management System </a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/Contact">Contact</a></li>
                    <li><a href="~/UserAccount/UserSignup" class="button">Sign Up</a></li>
                    <li><a href="~/UserAccount/UserLogin" class="button">Sign In</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <h2>LMS</h2>
            <p>BY NAUSIF AND MOHSIN</p>
            <ul class="actions">
                <li><a href="~/UserAccount/UserSignup" class="button special">Sign Up</a></li>
                <li><a href="~/UserAccount/UserLogin" class="button">Sign In</a></li>
            </ul>
        </section>

        <!-- Main -->
        <section id="main" class="container">

            <section class="box special">
                <header class="major">
                    <h2>
                        INTRODUCTION OF LIBRARY MANAGEMENT SYSTEM
                        <br />
                        Overview :
                    </h2>
                    <p>
                        Library is regarded as the brain of any institute; many institutes understand the importance of the library to the growth of the institute and their esteem users (students).<br />
                        LMS support the general requirement of the library like acquisition, cataloguing, circulation..
                    </p>
                </header>

            </section>

            <section class="box special features">
                <div class="features-row">
                    <section>
                        <span class="icon major fa-bolt accent2"></span>
                        <h3>Books:</h3>
                        <p>
                            Admin has the authority to add, delete or modify the details of the book available to/from the system.
                        </p>
                    </section>
                    <section>
                        <span class="icon major fa-area-chart accent3"></span>
                        <h3>Library Registration:</h3>
                        <p>
                            The first procedure is the registration of the people who arrive to the library. The receptionist has the authority to enter the name, address and contact number of the people who visit the library along with the name of the book they want to read.
                            .
                        </p>
                    </section>
                </div>
                <div class="features-row">
                    <section>
                        <span class="icon major fa-cloud accent4"></span>
                        <h3>Time spent:</h3>
                        <p>Their entry and exit time to the library will be noted down. This calculates the total amount of time they spent in library.</p>
                    </section>
                    <section>
                        <span class="icon major fa-lock accent5"></span>
                        <h3>
                            Borrow books:
                        </h3>
                        <p>
                            A person can also borrow the book for particular days. All the information
                            will be entered in the system. If the person doesn’t return the book before the due date, a fine
                            will be added and the information will be sent to that particular person about the fine.
                        </p>
                    </section>
                </div>
            </section>
            </section>

    <!-- CTA -->
    <!-- Footer -->
    <footer class="main-footer" style="text-align:center;">

        Copyright &copy; @DateTime.Now.Year &nbsp;&nbsp;<strong>LIBRARY MANAGEMENT SYSTEM BY Nausif & Mohsin.</strong>&nbsp;&nbsp;  All rights reserved.
    </footer>

    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/jquery.scrollgress.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>

</body>
</html>